html, body {
    height: 100%;
}

#map {
    height: calc(100vh - 56px);
    margin-left: -15px;
    width: calc(100% + 30px);
}

#minitrack-logo {
    max-width: 100%;
}

.card {
  height: 100%;
}

#stats {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: calc(100% + 15px);
    left: -15px;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-weight: 700;
}

#stats table {
    margin-left: 30px;
    width: 100%;
    max-width: 500px;
}

#stats table tr {
    width: 100%;
}